html {
	font-size: 16px;
	width: 100%;
	height: 100%;
	display: flex;
}
head, title, link, meta, style, script, preload {
	display: none;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	margin: 0;
	padding: 5px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	overflow: hidden;
}
button {
	color: inherit;
	margin: 0;
	padding: 5px;
}
figure {
	margin: 0;
	padding: 0;
}
a {
	color: inherit !important;
	cursor: inherit;
	text-decoration: inherit;
}
nav {
	margin: 0;
	padding: 5px;
	display: flex;
	align-items: center;
}
@media print {
	body {
		background: white;
		color: black;
	}
	nav {
		display: none;
	}
}
